# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/

# YOLO Output
runs/
outputs_/

# Model
yolo11n.pt

# Test images and videos
images_/
videos_

#sound
sounds_

# macOS
.DS_Store

# PyCharm
.idea/